{
  "openapi": "3.1.0",
  "info": {
    "title": "Permy \u2014 Building Permit & Construction Intelligence API",
    "description": "Normalized permits, contractor activity, property timelines, and ZIP development signals \u2014 ranked, sourced, and ready for your app. Give Permy an address, city, ZIP, contractor, or trade and get back clean, machine-readable municipal intelligence with source links and confidence scores.",
    "termsOfService": "https://docs.permy.dev/terms",
    "contact": {
      "name": "Permy",
      "url": "https://permy.dev/",
      "email": "hi@permy.dev"
    },
    "license": {
      "name": "Apache-2.0 (code); data per upstream license",
      "url": "https://docs.permy.dev/legal"
    },
    "version": "0.1.0",
    "x-logo": {
      "url": "https://permy.dev/assets/brand-mark.png"
    }
  },
  "servers": [
    {
      "url": "https://permy.p.rapidapi.com",
      "description": "RapidAPI production"
    },
    {
      "url": "https://api.permy.dev",
      "description": "Direct site"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local dev"
    }
  ],
  "paths": {
    "/v1/permits/search": {
      "get": {
        "tags": [
          "permits"
        ],
        "summary": "Search normalized permits",
        "operationId": "search_permits_v1_permits_search_get",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Zip"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "roofing|solar|hvac|plumbing|electrical|building|general|demolition|other|unknown",
              "title": "Trade"
            },
            "description": "roofing|solar|hvac|plumbing|electrical|building|general|demolition|other|unknown"
          },
          {
            "name": "permit_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Permit Type"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "applied|issued|active|final|expired|cancelled|withdrawn|unknown",
              "title": "Status"
            },
            "description": "applied|issued|active|final|expired|cancelled|withdrawn|unknown"
          },
          {
            "name": "contractor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contractor name (substring)",
              "title": "Contractor"
            },
            "description": "Contractor name (substring)"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-text over description",
              "title": "Keyword"
            },
            "description": "Free-text over description"
          },
          {
            "name": "min_valuation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Valuation"
            }
          },
          {
            "name": "max_valuation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Valuation"
            }
          },
          {
            "name": "issued_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued After"
            }
          },
          {
            "name": "issued_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued Before"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "west,south,east,north \u2014 geo bounding box",
              "title": "Bbox"
            },
            "description": "west,south,east,north \u2014 geo bounding box"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(issued_date|valuation_usd|lead_score)$",
              "default": "issued_date",
              "title": "Sort"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(asc|desc)$",
              "default": "desc",
              "title": "Sort Dir"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitsSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/permits/{permit_id}": {
      "get": {
        "tags": [
          "permits"
        ],
        "summary": "Full permit detail with enrichment + source links",
        "operationId": "get_permit_v1_permits__permit_id__get",
        "parameters": [
          {
            "name": "permit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Permit Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permit"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/properties/resolve": {
      "get": {
        "tags": [
          "permits"
        ],
        "summary": "Normalize an address \u2192 jurisdiction, city/county, parcel hints, coverage status",
        "operationId": "resolve_property_v1_properties_resolve_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Full street address, e.g. '10912 Mystic Timber Dr, Austin, TX 78754'",
              "title": "Address"
            },
            "description": "Full street address, e.g. '10912 Mystic Timber Dr, Austin, TX 78754'"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/properties/{property_id}/timeline": {
      "get": {
        "tags": [
          "permits"
        ],
        "summary": "Full permit history for an address",
        "operationId": "property_timeline_v1_properties__property_id__timeline_get",
        "parameters": [
          {
            "name": "property_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Property Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTimeline"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/contractors/search": {
      "get": {
        "tags": [
          "contractors & markets"
        ],
        "summary": "Find contractors by name, license, city, trade, activity",
        "operationId": "search_contractors_v1_contractors_search_get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "License"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trade"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorsSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/contractors/{contractor_id}/activity": {
      "get": {
        "tags": [
          "contractors & markets"
        ],
        "summary": "Permit count, trade mix, active cities, value bands, momentum, source confidence",
        "operationId": "contractor_activity_v1_contractors__contractor_id__activity_get",
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Contractor Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorActivity"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/markets/{zip}/development-score": {
      "get": {
        "tags": [
          "contractors & markets"
        ],
        "summary": "ZIP-level development momentum: volume, value, trade mix, MoM delta, hotspot 0\u2013100",
        "operationId": "market_score_v1_markets__zip__development_score_get",
        "parameters": [
          {
            "name": "zip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Zip"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketScore"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/leads/ranked": {
      "get": {
        "tags": [
          "leads & intelligence"
        ],
        "summary": "Ranked opportunities for a buyer persona with lead_score + recommended_action + reason",
        "operationId": "leads_ranked_v1_leads_ranked_get",
        "parameters": [
          {
            "name": "persona",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(roofer|solar|hvac|investor|supplier|insurer|general)$",
              "default": "general",
              "title": "Persona"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Zip"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trade"
            }
          },
          {
            "name": "min_valuation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Valuation"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankedLeadsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/intelligence/score": {
      "post": {
        "tags": [
          "leads & intelligence"
        ],
        "summary": "Address or permit_id + persona \u2192 development_score, risk_flags, market narrative, sources",
        "operationId": "intelligence_score_v1_intelligence_score_post",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelligenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntelligenceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/alerts": {
      "post": {
        "tags": [
          "alerts & webhooks"
        ],
        "summary": "Create a saved search with optional webhook delivery",
        "operationId": "create_alert_v1_alerts_post",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "alerts & webhooks"
        ],
        "summary": "List your saved searches",
        "operationId": "list_alerts_v1_alerts_get",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  },
                  "title": "Response List Alerts V1 Alerts Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}": {
      "delete": {
        "tags": [
          "alerts & webhooks"
        ],
        "summary": "Delete a saved search",
        "operationId": "delete_alert_v1_alerts__alert_id__delete",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alert Id"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/test": {
      "post": {
        "tags": [
          "alerts & webhooks"
        ],
        "summary": "Send a signed HMAC test payload to your webhook URL",
        "operationId": "webhook_test_v1_webhooks_test_post",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/sample/permits/search": {
      "get": {
        "tags": [
          "sample"
        ],
        "summary": "[Sample, no key] Search permits \u2014 capped at 10 records",
        "operationId": "sample_search_permits_v1_sample_permits_search_get",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Zip"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trade"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "contractor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Contractor"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Keyword"
            }
          },
          {
            "name": "min_valuation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Valuation"
            }
          },
          {
            "name": "max_valuation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Valuation"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitsSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sample/permits/{permit_id}": {
      "get": {
        "tags": [
          "sample"
        ],
        "summary": "[Sample, no key] Full permit detail",
        "operationId": "sample_get_permit_v1_sample_permits__permit_id__get",
        "parameters": [
          {
            "name": "permit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Permit Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permit"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sample/coverage": {
      "get": {
        "tags": [
          "sample"
        ],
        "summary": "[Sample, no key] Supported cities + per-city fields",
        "operationId": "sample_coverage_v1_sample_coverage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sample/contractors/search": {
      "get": {
        "tags": [
          "sample"
        ],
        "summary": "[Sample, no key] Search contractors \u2014 capped at 10 records",
        "operationId": "sample_search_contractors_v1_sample_contractors_search_get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trade"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorsSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sample/leads/ranked": {
      "get": {
        "tags": [
          "sample"
        ],
        "summary": "[Sample, no key] Ranked leads \u2014 capped at 10 records",
        "operationId": "sample_rank_leads_v1_sample_leads_ranked_get",
        "parameters": [
          {
            "name": "persona",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(roofer|solar|hvac|investor|supplier|insurer|general)$",
              "default": "roofer",
              "title": "Persona"
            }
          },
          {
            "name": "trade",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trade"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankedLeadsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Supported cities, fields available per city, freshness",
        "operationId": "coverage_v1_coverage_get",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Service health",
        "operationId": "health_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Quota usage for the caller",
        "operationId": "usage_v1_usage_get",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "properties": {
          "street": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Street"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "zip": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Zip"
          },
          "full": {
            "type": "string",
            "title": "Full"
          },
          "lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lat"
          },
          "lng": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lng"
          },
          "geocode_confidence": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 1.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Geocode Confidence"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "full"
        ],
        "title": "Address"
      },
      "Alert": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "persona": {
            "type": "string",
            "enum": [
              "roofer",
              "solar",
              "hvac",
              "investor",
              "supplier",
              "insurer",
              "general"
            ],
            "title": "Persona"
          },
          "query": {
            "additionalProperties": true,
            "type": "object",
            "title": "Query"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "default": true
          },
          "last_fired_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Fired At"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "persona",
          "query",
          "created_at"
        ],
        "title": "Alert"
      },
      "AlertCreate": {
        "properties": {
          "persona": {
            "type": "string",
            "enum": [
              "roofer",
              "solar",
              "hvac",
              "investor",
              "supplier",
              "insurer",
              "general"
            ],
            "title": "Persona",
            "default": "general"
          },
          "query": {
            "additionalProperties": true,
            "type": "object",
            "title": "Query",
            "description": "Same params shape as /v1/permits/search"
          },
          "webhook_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Url"
          },
          "webhook_secret": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Webhook Secret"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "query"
        ],
        "title": "AlertCreate"
      },
      "Contractor": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "canonical_uid": {
            "type": "string",
            "title": "Canonical Uid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "license_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License Number"
          },
          "license_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License State"
          },
          "license_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License Status"
          },
          "trade": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trade"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "zip": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Zip"
          },
          "source_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Url"
          },
          "confidence": {
            "type": "number",
            "title": "Confidence",
            "default": 0.0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "canonical_uid",
          "name"
        ],
        "title": "Contractor"
      },
      "ContractorActivity": {
        "properties": {
          "contractor": {
            "$ref": "#/components/schemas/Contractor"
          },
          "permit_count": {
            "type": "integer",
            "title": "Permit Count",
            "default": 0
          },
          "total_valuation_usd": {
            "type": "number",
            "title": "Total Valuation Usd",
            "default": 0.0
          },
          "trade_mix": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Trade Mix"
          },
          "active_cities": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Active Cities"
          },
          "value_band": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "<50k",
                  "50k-500k",
                  "500k+"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Value Band"
          },
          "momentum": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Momentum",
            "description": "Recent activity intensity 0\u20131",
            "default": 0.0
          },
          "first_seen_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Seen At"
          },
          "last_seen_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Seen At"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "contractor"
        ],
        "title": "ContractorActivity"
      },
      "ContractorRef": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "license": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License"
          },
          "license_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License State"
          },
          "license_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License Status"
          },
          "trade": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trade"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "ContractorRef",
        "description": "Contractor as attached to a permit (denormalized summary)."
      },
      "ContractorsSearchResponse": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "contractors": {
            "items": {
              "$ref": "#/components/schemas/Contractor"
            },
            "type": "array",
            "title": "Contractors"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "contractors"
        ],
        "title": "ContractorsSearchResponse"
      },
      "CoverageCity": {
        "properties": {
          "jurisdiction_slug": {
            "type": "string",
            "title": "Jurisdiction Slug"
          },
          "city": {
            "type": "string",
            "title": "City"
          },
          "state": {
            "type": "string",
            "title": "State"
          },
          "source_portal": {
            "type": "string",
            "title": "Source Portal"
          },
          "source_name": {
            "type": "string",
            "title": "Source Name"
          },
          "is_live": {
            "type": "boolean",
            "title": "Is Live"
          },
          "last_ingested_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Ingested At"
          },
          "ingest_cadence": {
            "type": "string",
            "title": "Ingest Cadence"
          },
          "fields": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            },
            "type": "object",
            "title": "Fields",
            "description": "true / false / 'partial' \u2014 honestly notes where a city publishes a field only sometimes (e.g. owner via contact list)."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "jurisdiction_slug",
          "city",
          "state",
          "source_portal",
          "source_name",
          "is_live",
          "ingest_cadence"
        ],
        "title": "CoverageCity"
      },
      "CoverageResponse": {
        "properties": {
          "cities": {
            "items": {
              "$ref": "#/components/schemas/CoverageCity"
            },
            "type": "array",
            "title": "Cities"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "cities",
          "total"
        ],
        "title": "CoverageResponse"
      },
      "Enrichment": {
        "properties": {
          "lead_score": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Lead Score",
            "description": "0\u2013100 lead score"
          },
          "recommended_action": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "call_now",
                  "qualify",
                  "monitor",
                  "skip"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Recommended Action"
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Human-readable explanation of top factors"
          },
          "dq_flags": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Dq Flags",
            "description": "Data-quality flags"
          },
          "confidence": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Confidence",
            "description": "Source+freshness+completeness",
            "default": 0.0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "Enrichment"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded",
              "down"
            ],
            "title": "Status",
            "default": "ok"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "title": "Time"
          },
          "db": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "ok",
                  "down"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Db"
          },
          "redis": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "ok",
                  "down"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Redis"
          },
          "coverage_cities": {
            "type": "integer",
            "title": "Coverage Cities",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "version",
          "time"
        ],
        "title": "HealthResponse"
      },
      "IntelligenceRequest": {
        "properties": {
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address"
          },
          "permit_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permit Id"
          },
          "persona": {
            "type": "string",
            "enum": [
              "roofer",
              "solar",
              "hvac",
              "investor",
              "supplier",
              "insurer",
              "general"
            ],
            "title": "Persona",
            "default": "general"
          },
          "project_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Project Type"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "IntelligenceRequest"
      },
      "IntelligenceResponse": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/IntelligenceRequest"
          },
          "property": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Property"
              },
              {
                "type": "null"
              }
            ]
          },
          "permits": {
            "items": {
              "$ref": "#/components/schemas/Permit"
            },
            "type": "array",
            "title": "Permits"
          },
          "development_score": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 0.0,
            "title": "Development Score"
          },
          "permit_activity": {
            "additionalProperties": true,
            "type": "object",
            "title": "Permit Activity"
          },
          "risk_flags": {
            "items": {
              "$ref": "#/components/schemas/RiskFlag"
            },
            "type": "array",
            "title": "Risk Flags"
          },
          "market_context": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market Context"
          },
          "market": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MarketScore"
              },
              {
                "type": "null"
              }
            ]
          },
          "recommended_action": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "call_now",
                  "qualify",
                  "monitor",
                  "skip"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Recommended Action"
          },
          "lead_score": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Lead Score"
          },
          "source_links": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Source Links"
          },
          "confidence": {
            "type": "number",
            "title": "Confidence",
            "default": 0.0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "input",
          "development_score"
        ],
        "title": "IntelligenceResponse"
      },
      "MarketScore": {
        "properties": {
          "zip": {
            "type": "string",
            "title": "Zip"
          },
          "as_of_date": {
            "type": "string",
            "format": "date",
            "title": "As Of Date"
          },
          "permit_count_30d": {
            "type": "integer",
            "title": "Permit Count 30D"
          },
          "permit_count_90d": {
            "type": "integer",
            "title": "Permit Count 90D"
          },
          "total_value_30d": {
            "type": "number",
            "title": "Total Value 30D"
          },
          "total_value_90d": {
            "type": "number",
            "title": "Total Value 90D"
          },
          "trade_mix": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Trade Mix"
          },
          "mom_delta_pct": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mom Delta Pct",
            "description": "Month-over-month permit volume %"
          },
          "top_contractors": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Contractors"
          },
          "hotspot_score": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 0.0,
            "title": "Hotspot Score",
            "description": "ZIP development momentum 0\u2013100"
          },
          "narrative": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Narrative",
            "description": "One-line human summary"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "zip",
          "as_of_date",
          "permit_count_30d",
          "permit_count_90d",
          "total_value_30d",
          "total_value_90d",
          "hotspot_score"
        ],
        "title": "MarketScore"
      },
      "OwnerRef": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "OwnerRef"
      },
      "Permit": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Permy opaque id (stringified bigint)"
          },
          "canonical_uid": {
            "type": "string",
            "title": "Canonical Uid",
            "description": "Stable hash(jurisdiction + source_permit_id)"
          },
          "jurisdiction_slug": {
            "type": "string",
            "title": "Jurisdiction Slug"
          },
          "source_permit_id": {
            "type": "string",
            "title": "Source Permit Id"
          },
          "source_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Url"
          },
          "source_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Name"
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time",
            "title": "First Seen At"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time",
            "title": "Last Seen At"
          },
          "last_checked_at": {
            "type": "string",
            "format": "date-time",
            "title": "Last Checked At"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "permit_type_raw": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permit Type Raw"
          },
          "permit_type_normalized": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permit Type Normalized"
          },
          "work_class": {
            "type": "string",
            "enum": [
              "new_construction",
              "alteration",
              "addition",
              "remodel",
              "repair",
              "demolition",
              "other",
              "unknown"
            ],
            "title": "Work Class",
            "default": "unknown"
          },
          "trade_category": {
            "type": "string",
            "enum": [
              "roofing",
              "solar",
              "hvac",
              "plumbing",
              "electrical",
              "building",
              "general",
              "demolition",
              "other",
              "unknown"
            ],
            "title": "Trade Category",
            "default": "unknown"
          },
          "is_new_construction": {
            "type": "boolean",
            "title": "Is New Construction",
            "default": false
          },
          "is_alteration": {
            "type": "boolean",
            "title": "Is Alteration",
            "default": false
          },
          "is_demolition": {
            "type": "boolean",
            "title": "Is Demolition",
            "default": false
          },
          "valuation_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Valuation Usd",
            "description": "Declared job value in USD; null when city doesn't publish"
          },
          "housing_units": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Housing Units"
          },
          "new_add_sqft": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Add Sqft"
          },
          "dates": {
            "$ref": "#/components/schemas/PermitDates"
          },
          "current_status": {
            "type": "string",
            "enum": [
              "applied",
              "issued",
              "active",
              "final",
              "expired",
              "cancelled",
              "withdrawn",
              "unknown"
            ],
            "title": "Current Status",
            "default": "unknown"
          },
          "status_raw": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Raw"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "description_enriched": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description Enriched"
          },
          "contractor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContractorRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "owner": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OwnerRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "parcel_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parcel Id"
          },
          "enrichment": {
            "$ref": "#/components/schemas/Enrichment"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "canonical_uid",
          "jurisdiction_slug",
          "source_permit_id",
          "first_seen_at",
          "last_seen_at",
          "last_checked_at",
          "address"
        ],
        "title": "Permit"
      },
      "PermitDates": {
        "properties": {
          "applied": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Applied"
          },
          "issued": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Issued"
          },
          "finaled": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finaled"
          },
          "expired": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expired"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "PermitDates"
      },
      "PermitTimelineEntry": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "permit_type_normalized": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permit Type Normalized"
          },
          "work_class": {
            "type": "string",
            "enum": [
              "new_construction",
              "alteration",
              "addition",
              "remodel",
              "repair",
              "demolition",
              "other",
              "unknown"
            ],
            "title": "Work Class",
            "default": "unknown"
          },
          "trade_category": {
            "type": "string",
            "enum": [
              "roofing",
              "solar",
              "hvac",
              "plumbing",
              "electrical",
              "building",
              "general",
              "demolition",
              "other",
              "unknown"
            ],
            "title": "Trade Category",
            "default": "unknown"
          },
          "valuation_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Valuation Usd"
          },
          "issued_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Issued Date"
          },
          "current_status": {
            "type": "string",
            "enum": [
              "applied",
              "issued",
              "active",
              "final",
              "expired",
              "cancelled",
              "withdrawn",
              "unknown"
            ],
            "title": "Current Status",
            "default": "unknown"
          },
          "contractor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContractorRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "PermitTimelineEntry",
        "description": "A permit rolled up for property timeline views."
      },
      "PermitsSearchResponse": {
        "properties": {
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "permits": {
            "items": {
              "$ref": "#/components/schemas/Permit"
            },
            "type": "array",
            "title": "Permits"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "permits"
        ],
        "title": "PermitsSearchResponse"
      },
      "Property": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "canonical_uid": {
            "type": "string",
            "title": "Canonical Uid"
          },
          "full_address": {
            "type": "string",
            "title": "Full Address"
          },
          "street": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Street"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "zip": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Zip"
          },
          "lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lat"
          },
          "lng": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lng"
          },
          "geocode_confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Geocode Confidence"
          },
          "jurisdiction_slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Jurisdiction Slug"
          },
          "parcel_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parcel Id"
          },
          "year_built": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Year Built"
          },
          "sqft": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sqft"
          },
          "permit_count": {
            "type": "integer",
            "title": "Permit Count",
            "default": 0
          },
          "last_permit_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Permit Date"
          },
          "coverage_status": {
            "type": "string",
            "enum": [
              "covered",
              "partial",
              "no_feed"
            ],
            "title": "Coverage Status",
            "default": "covered"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "canonical_uid",
          "full_address"
        ],
        "title": "Property"
      },
      "PropertyTimeline": {
        "properties": {
          "property": {
            "$ref": "#/components/schemas/Property"
          },
          "permits": {
            "items": {
              "$ref": "#/components/schemas/PermitTimelineEntry"
            },
            "type": "array",
            "title": "Permits"
          },
          "total_permits": {
            "type": "integer",
            "title": "Total Permits"
          },
          "total_valuation_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Valuation Usd"
          },
          "last_activity": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Activity"
          },
          "unpermitted_work_flag": {
            "type": "boolean",
            "title": "Unpermitted Work Flag",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "property",
          "permits",
          "total_permits"
        ],
        "title": "PropertyTimeline"
      },
      "RankedLead": {
        "properties": {
          "permit": {
            "$ref": "#/components/schemas/Permit"
          },
          "lead_score": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 0.0,
            "title": "Lead Score"
          },
          "recommended_action": {
            "type": "string",
            "enum": [
              "call_now",
              "qualify",
              "monitor",
              "skip"
            ],
            "title": "Recommended Action"
          },
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "persona": {
            "type": "string",
            "enum": [
              "roofer",
              "solar",
              "hvac",
              "investor",
              "supplier",
              "insurer",
              "general"
            ],
            "title": "Persona"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "permit",
          "lead_score",
          "recommended_action",
          "reason",
          "persona"
        ],
        "title": "RankedLead"
      },
      "RankedLeadsResponse": {
        "properties": {
          "persona": {
            "type": "string",
            "enum": [
              "roofer",
              "solar",
              "hvac",
              "investor",
              "supplier",
              "insurer",
              "general"
            ],
            "title": "Persona"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "leads": {
            "items": {
              "$ref": "#/components/schemas/RankedLead"
            },
            "type": "array",
            "title": "Leads"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "persona",
          "page",
          "limit",
          "total",
          "leads"
        ],
        "title": "RankedLeadsResponse"
      },
      "RiskFlag": {
        "properties": {
          "flag": {
            "type": "string",
            "title": "Flag"
          },
          "severity": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "critical"
            ],
            "title": "Severity"
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detail"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "flag",
          "severity"
        ],
        "title": "RiskFlag"
      },
      "UsageResponse": {
        "properties": {
          "api_key": {
            "type": "string",
            "title": "Api Key"
          },
          "tier": {
            "type": "string",
            "title": "Tier"
          },
          "day": {
            "type": "string",
            "format": "date",
            "title": "Day"
          },
          "requests_today": {
            "type": "integer",
            "title": "Requests Today"
          },
          "daily_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Daily Limit"
          },
          "monthly_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Monthly Limit"
          },
          "month_requests": {
            "type": "integer",
            "title": "Month Requests",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "api_key",
          "tier",
          "day",
          "requests_today"
        ],
        "title": "UsageResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WebhookTestRequest": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "secret": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Secret"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "url"
        ],
        "title": "WebhookTestRequest"
      },
      "WebhookTestResponse": {
        "properties": {
          "delivered": {
            "type": "boolean",
            "title": "Delivered"
          },
          "status_code": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
[...]
